{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_errors(form.name) }}
<div class="form-group input-group">
    <span class="input-group-addon"><i class="fa fa-tag"></i></span>
    {{ form_widget(form.name) }}
</div>

{{ form_errors(form.url) }}
<div class="form-group input-group">
    <span class="input-group-addon"><i class="fa fa-hashtag"></i></span>
    {{ form_widget(form.url) }}
</div>

{{ form_widget(form.submit) }} 
{{ form_end(form) }}


