{% extends 'back/layout/base.html.twig' %}

{% block title %}My password{% endblock %}

{% block title_section %}My profile{% endblock %}
{% block title_content %}Change my password {% endblock %}

{% block body %}

{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_errors(form.oldPassword) }}
<div class="form-group input-group">
    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
    {{ form_widget(form.oldPassword) }}
</div>

{{ form_errors(form.plainPassword.first) }}
<div class="form-group input-group">
    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
    {{ form_widget(form.plainPassword.first) }}
</div>
{{ form_errors(form.plainPassword.second) }}
<div class="form-group input-group">
    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
    {{ form_widget(form.plainPassword.second) }}
</div>

{{ form_row(form.submit) }}
{{ form_end(form) }}
{% endblock %}