{% extends 'back/layout/base.html.twig' %}

{% block title %}DASHBOARD{% endblock %}

{% block title_content %}DASHBOARD{% endblock %}

{% block body %}

<!-- /. ROW  -->
<div class="row">
    <div class="col-md-3">
        <div class="main-box mb-grey">
            <a href="{{path("admin.setting.lang.index")}}">
                <i class="fa fa-globe fa-5x"></i>
                <h5>{{ langs | length}} available languages</h5>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="main-box mb-blue">
            <a href="{{path("admin.hobby.index")}}">
                <i class="fa fa-coffee fa-5x"></i>
                <h5>{{ hobbies | length}} Hobbies</h5>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="main-box mb-green">
            <a href="{{path("admin.study.index")}}">
                <i class="fa fa-graduation-cap fa-5x"></i>
                <h5>{{ studies | length}} Studies completed</h5>
            </a>
        </div>
    </div>    
    <div class="col-md-3">
        <div class="main-box mb-orange">
            <a href="{{path("admin.user.social.index")}}">
                <i class="fa fa-facebook-square fa-5x"></i>
                <h5>{{ socials | length}} social networks</h5>
            </a>
        </div>
    </div>

</div>
<!-- /. ROW  -->
<!-- /. ROW  -->
<div class="row">
        <div class="col-md-4">
            <div class="main-box mb-red">
                <a href="#">
                    <i class="fa fa-gears fa-5x"></i>
                    <h5>{{ technical | length}} technical skills</h5>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="main-box mb-dull">
                <a href="#">
                    <i class="fa fa-weixin fa-5x"></i>
                    <h5>{{ spoken | length}} spoken languages</h5>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="main-box mb-lightblue">
                <a href="#">
                    <i class="fa fa-users fa-5x"></i>
                    <h5>{{ soft | length}} soft skills</h5>
                </a>
            </div>
        </div>    
    
    </div>
<!--/.ROW-->
{% endblock %}