{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_errors(form.name) }}
<div class="form-group input-group">
    <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
    {{ form_widget(form.name) }}
</div>

{{ form_errors(form.icon) }}
<div class="form-group input-group">
    <span class="input-group-addon"><i class="fa fa-image"></i></span>
    {{ form_widget(form.icon) }}
</div>

{{ form_widget(form.submit) }} 
{{ form_end(form) }}



