{% extends 'back/layout/base.html.twig' %}
{% block title_section %}My profile{% endblock %}
{% block title %}Extra Infos{% endblock %}

{% block title_content %}Extra Infos{% endblock %}

{% block body %}
<div>
    <a href="{{ path('admin.user.extra.add') }}"><button class='text-uppercase btn btn-success'>Add new</button></a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Icon</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for extra_info in extra_infos %}
        <tr>
            <td>{{ extra_info.name }}</td>
            <td>{{ extra_info.icon }} <i class='fa fa-2x {{ extra_info.icon }}'></i></td>
            <td>
                <a href="{{ path('admin.user.extra.edit', {'id': extra_info.id}) }}"><button class='btn btn-info'>Edit</button></a> 
                {{ include('back/user/extra/_delete_form.html.twig') }}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">No data</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}