{% extends 'front/layout/base.html.twig' %}

{% block title %}CV{% endblock %}

{% block stylesheets %}
	<link href='{{asset('css/w3.css') }}' rel='stylesheet' type='text/css'>
	<link href='{{asset('css/font-awesome.min.css') }}' rel='stylesheet' type='text/css'>
	<link href='{{asset('css/cv.css') }}' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}
  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-container">
		  <p class="w3-large w3-text-theme first-item"><b><i class="fa fa-user fa-fw w3-margin-right w3-text-teal"></i>{{ user.get().firstname }} {{ user.get().lastname }}</b></p>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ translate.run(app.request.locale, "job-title") }}</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Toulouse, France</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ user.get().email }} </p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ user.get().phone }}</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>{{ translate.run(app.request.locale, "skill") }}</b></p>
          {% for skill in technical %}
            <p>{{ skill.name }}</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:{{ skill.level }}%">
                <div class="w3-center w3-text-white">{{ skill.level }}%</div>
              </div>
            </div>
          {% endfor %}
          <br>
          
          <p class="w3-large"><b><i class="fa fa-users fa-fw 
          w3-margin-right w3-text-teal"></i>{{ translate.run(app.request.locale, "soft") }}</b></p>
          {% for skill in soft %}
            <p><i class="fa fa fa-asterisk fa-fw w3-tiny w3-margin-right
            w3-text-teal"></i> {{ skill.name }}</p>
          {% endfor %}
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>{{ translate.run(app.request.locale, "lang") }}</b></p>
          {% for skill in spoken %}
          <p>{{ skill.name }}</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:{{ skill.level }}%"></div>
          </div>
          {% endfor %}
          <br>
          
          <p class="w3-large"><b><i class="fa fa-question fa-fw w3-margin-right w3-text-teal"></i>{{ translate.run(app.request.locale, "others") }}</b></p>
          {% for extra in extras %}
          <p><i class="fa {{ extra.icon }} fa-fw w3-margin-right
          w3-text-teal"></i> {{ extra.name }}</p>
          {% endfor %}

          
        </div>
      </div><br>
      
      

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-10"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>{{ translate.run(app.request.locale, "exp") }}</h2>
        {% for job in jobs %}
        <div class="w3-container">
          <h5 class="w3-opacity"><b>{{ job.name }}</b> - <i>{{ job.location }} {%  if job.internship %}({{ translate.run(app.request.locale, "internship") }}){% endif %}</i></h5>
          <h6 class="w3-text-teal">
            <i class="fa fa-calendar fa-fw w3-margin-right"></i>
            {{ job.startDate|localizeddate('full', 'none', app.request.locale, null, "LLL Y") }} -
            {%  if job.current %}
              <span class='w3-tag w3-teal w3-round'>{{ translate.run(app.request.locale, "current") }}</span>
            {% else %}
              {{ job.endDate|localizeddate('full', 'none', app.request.locale, null, "LLL Y") }}
            {% endif %}
          </h6>
          <p>{{ job.content|nl2br }}</p>
          <hr>
        </div>
        {% endfor %}
      </div>
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-10"><i class="fa fa-book fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>{{ translate.run(app.request.locale, "project") }}</h2>
        {% for project in projects %}
          <div class="w3-container">
            <h5 class="w3-opacity"><b>{{ project.name }}</b> - <i>{{ project.location }} {%  if project.schoolProject %}({{ translate.run(app.request.locale, "school-project") }}){% endif %}</i></h5>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>
              {%  if project.startDate is not null %}
                {{ project.startDate|localizeddate('full', 'none', app.request.locale, null, "LLL Y") }} -
              {% endif %}
              {%  if project.current %}
                <span class='w3-tag w3-teal w3-round'>{{ translate.run(app.request.locale, "current") }}</span>
              {% else %}
                {{ project.endDate|localizeddate('full', 'none', app.request.locale, null, "LLL Y") }}
              {% endif %}
            </h6>
            <p>{{ project.content|nl2br }}</p>
            <hr>
          </div>
        {% endfor %}
      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-10"><i class="fa fa-certificate fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>{{ translate.run(app.request.locale, "education") }}</h2>
        {% for study in studies %}
          <div class="w3-container">
            <h5 class="w3-opacity"><b>{{ study.name }}</b> - <i>{{ study.location }} </i></h5>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>
              {%  if study.startDate is not null %}
                {{ study.startDate|localizeddate('full', 'none', app.request.locale, null, "Y") }} -
              {% endif %}
              {%  if study.current %}
                <span class='w3-tag w3-teal w3-round'>{{ translate.run(app.request.locale, "current") }}</span>
              {% else %}
                {{ study.endDate|localizeddate('full', 'none', app.request.locale, null, "Y") }}
              {% endif %}
            </h6>
            <p>{{ study.content|nl2br }}</p>
            <hr>
          </div>
        {% endfor %}
      </div>
      
      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-10"><i class="fa fa-television fa-fw w3-margin-right w3-xlarge w3-text-teal"></i>{{ translate.run(app.request.locale, "hobbies") }}</h2>
        {% for hobby in hobbies %}
          <div class="w3-container">
            <h5 class="w3-opacity"><b>{{ hobby.name }}</b></h5>
            <p>{{ hobby.text|nl2br }}</p>
          </div>
          <hr>
        {% endfor %}
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
{% endblock %}

