{% extends 'back/layout/base.html.twig' %}
{% block title_section %}My Studies{% endblock %}
{% block title %}Studies{% endblock %}

{% block title_content %}Studies{% endblock %}

{% block body %}
<div>
        <a href="{{ path('admin.study.add') }}"><button class='text-uppercase btn btn-success'>Add new</button></a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Is Visible ?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for study in studies %}
            <tr>
                <td>{{ study.name }}</td>
                <td>{{ study.startDate is null ? "-" : study.startDate|date('Y') }}</td>
                <td>{{ study.current ? "Current" : study.endDate|date('Y')  }}</td>
                <td>{{ study.enabled ? "Yes" : "No" }}</td>

                <td>
                    <a href="{{ path('admin.study.show', {'id': study.id}) }}"><button
                            class='btn btn-info'>Show</button></a>
                    <a href="{{ path('admin.study.edit', {'id': study.id}) }}"><button class='btn btn-info'>Edit</button></a>
                    {{ include('back/study/_delete_form.html.twig') }}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
