
			<div class="container">
				<section>
					<header>
						<h2>{{ translate.run(app.request.locale, "contact") }}</h2>
						<div class='links'>
							<div><a class='fa fa-phone' href="tel:{{ user.get().phone }}"> {{ user.get().phone }}</a></div>
							<div><a class='fa fa-envelope' href="mailto:{{ user.get().email }}"> {{ user.get().email }} </a></div>
						</div>
					</header>
					<ul class="contact">
						{{ render(controller(
							'App\\Controller\\Front\\MainController::socialList'
						)) }}


					</ul>
				</section>
			</div>
		</div>

	<!-- Copyright -->
		<div id="copyright">
			<div class="container">
					&copy; Cyril Démery ~ 2019
			</div>
		</div>
