<div id="nav-wrapper"> 
	<!-- Nav -->
	<nav id="nav">
		<ul>
			<li><a href="{{path('homepage')}}">{{ translate.run(app.request.locale, "about-me") }}</a></li>
			<li><a href="{{path('projets')}}">{{ translate.run(app.request.locale, "project") }}</a></li>
			<li><a href="{{path('exp')}}">{{ translate.run(app.request.locale, "exp") }}</a></li>
			<li><a href="{{path('cv')}}">{{ translate.run(app.request.locale, "resume") }}</a></li>
		</ul>	
		
		<ul class='language_selector'>
			{{ render(controller(
				'App\\Controller\\Front\\LocaleSwitchController::listAvailable'
			)) }}
		</ul>

	</nav>
</div>
<div class="container"> 
	
	<!-- Logo -->
	<div id="logo">
		<h1><a href='{{path('homepage')}}'>{{ translate.run(app.request.locale, "job-title") }} <span class="tag"> - {{ user.get().firstname }} {{ user.get().lastname }} </span></a></h1>
		<span class="tag">{{ user.get().firstname }} {{ user.get().lastname }}</span>
	</div>
</div>
