
{% extends 'auth/layout/base.html.twig' %}

{% block title %}Install{% endblock %}

{% block body %}

    <h3>Install</h3>
    <p>Hello ! This form will create an account to manage the website</p>

    {{ form_start(registrationForm) }}

    {{ form_errors(registrationForm.firstname) }}
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="fa fa-user"  ></i></span>
            {{ form_widget(registrationForm.firstname) }}
        </div>

        {{ form_errors(registrationForm.lastname) }}
        <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-user"  ></i></span>
                {{ form_widget(registrationForm.lastname) }}
        </div>

        {{ form_errors(registrationForm.jobLabel) }}
        <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-tag"  ></i></span>
                {{ form_widget(registrationForm.jobLabel) }}
        </div>
    
        {{ form_errors(registrationForm.email) }}
        <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"  ></i></span>
                {{ form_widget(registrationForm.email) }}
        </div>

        {{ form_errors(registrationForm.phone) }}
        <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-phone"  ></i></span>
                {{ form_widget(registrationForm.phone) }}
        </div>
         
        {{ form_errors(registrationForm.password.first) }}
        <div class="form-group input-group">
                <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                {{ form_widget(registrationForm.password.first) }}
        </div>

        {{ form_errors(registrationForm.password.second) }}
        <div class="form-group input-group">
                 <span class="input-group-addon"><i class="fa fa-lock"  ></i></span>
                {{ form_widget(registrationForm.password.second) }}
        </div>

        {{ form_row(form.submit) }}
    {{ form_end(registrationForm) }}
{% endblock %}
