{% extends 'back/layout/base.html.twig' %}
{% block title_section %}My skills{% endblock %}
{% block title %}Skills{% endblock %}

{% block title_content %}Languages{% endblock %}

{% block body %}
<div>
        <a href="{{ path('admin.skill.language.add') }}"><button class='text-uppercase btn btn-success'>Add new</button></a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Level</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for language_skill in language_skills %}
            <tr>
                <td>{{ language_skill.name }}</td>
                <td>{{ language_skill.level }} %</td>
                <td>

                    <a href="{{ path('admin.skill.language.edit', {'id': language_skill.id}) }}"><button class='btn btn-info'>Edit</button></a> 
                        {{ include('back/skill/language/_delete_form.html.twig') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
