{% extends 'back/layout/base.html.twig' %}
{% block title_section %}Settings{% endblock %}
{% block title %}Settings{% endblock %}

{% block title_content %}Langs{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Locale</th>
                <th>Enabled ?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lang in langs %}
            <tr>
                <td>{{ lang.name }}</td>
                <td>{{ lang.locale }}</td>
                <td>{{ lang.enabled ? "Yes" : "No" }}</td>

                <td>
                    {% if lang.enabled %}
                    <a href="{{ path('admin.setting.lang.edit', {'id': lang.locale}) }}"><button class='btn btn-info'>Edit</button></a>
                    {{ include('back/setting/lang/_disable_form.html.twig') }}
                        {% else %}
                        <a href="{{ path('admin.setting.lang.enable', {'id': lang.locale}) }}"><button
                            class='btn btn-success'>Enable</button></a>
                        {% endif %}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
