<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}{% endblock %} - Admin</title>
	{{ include('back/layout/header.html.twig')  }}
	{% block stylesheets %}{% endblock %}
</head>

<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
			{{include('back/layout/navbar-header.html.twig') }}

			<div class="header-right">
				<h4>{% block title_section %}{% endblock %}</h4>
			</div>
		</nav>
		<nav class="navbar-default navbar-side" role="navigation">
			{{include('back/layout/navbar-left.html.twig') }}
		</nav>


		<div id="page-wrapper">
			{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
			{% endfor %}

			{% for message in app.flashes('notice') %}
			<div class="alert alert-info">
				{{ message }}
			</div>
			{% endfor %}

			{% for message in app.flashes('warning') %}
			<div class="alert alert-warning">
				{{ message }}
			</div>
			{% endfor %}

			{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
			{% endfor %}

			<div id="page-inner">
				<h2>{% block title_content %}{% endblock %}</h2>
				{% block body %}{% endblock %}
			</div>
		</div>


</body>
<div id="footer-sec" class='text-center'>
	{{include('back/layout/footer.html.twig') }}
</div>
{% block javascripts %}{% endblock %}

</html>