<!DOCTYPE html>
<html>

<head>
	<title>{% block title %}{% endblock %} - Admin</title>
	{{ include('back/layout/header.html.twig')  }}
	{% block stylesheets %}{% endblock %}
</head>

<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
			{{include('back/layout/navbar-header.html.twig') }}

			<div class="header-left">{% block title_section %}{% endblock %}</div>

			<div class="header-right">
				<ul>
					<li><a href='{{path("homepage")}}'><button class='btn btn-info'>Website</button></a></li>
					<li><a href='{{path("logout")}}'><button class='btn btn-danger'>Logout</button></a></li>
				</ul>

			</div>
		</nav>
		<nav class="navbar-default navbar-side" role="navigation">
			{{include('back/layout/navbar-left.html.twig') }}
		</nav>


		<div id="page-wrapper">
			{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
			{% endfor %}

			{% for message in app.flashes('notice') %}
			<div class="alert alert-info">
				{{ message }}
			</div>
			{% endfor %}

			{% for message in app.flashes('warning') %}
			<div class="alert alert-warning">
				{{ message }}
			</div>
			{% endfor %}

			{% for message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ message }}
			</div>
			{% endfor %}

			<div id="page-inner">

				<div class="row">
					<div class="col-md-12">
						<h1 class="page-head-line text-uppercase">{% block title_content %}{% endblock %}</h1>
						</h1>

					</div>
				</div>
				{% block body %}{% endblock %}
			</div>
		</div>


</body>
<div id="footer-sec" class='text-center'>
	{{include('back/layout/footer.html.twig') }}
</div>
{% block javascripts %}{% endblock %}

</html>