<div class="sidebar-collapse">
    <ul class="nav" id="main-menu">


        <li>
            <div class="user-img-div">

                <span class='name'>{{ app.user.firstname }} {{ app.user.lastname }}</span>
                <br />
                <span class='email'>{{ translate.run(app.session.get("lang"), "job-title") }}</span>
                <br />
                <span class='email'>{{ app.user.username }} </span>
            </div>

        </li>

        <li>
            <a class="active-menu" href="{{path("admin.index")}}"><i class="fa fa-dashboard "></i>Dashboard</a>
        </li>

        <li>
            <a href="{{ path('admin.homepage.index') }}"><i class="fa fa-home "></i>Homepage</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-user "></i>About me <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="{{ path('admin.user.details.index') }}"><i class="fa fa-bars"></i>Details</a>
                </li>
                <li>
                    <a href="{{ path('admin.user.social.index') }}"><i class="fa fa-facebook "></i>Social medias</a>
                </li>
                <li>
                    <a href="{{ path('admin.user.extra.index') }}"><i class="fa fa-plus "></i>Others informations</a>
                </li>
                <li>
                    <a href="{{ path('admin.user.password.reset') }}"><i class="fa fa-lock "></i>Change password</a>
                </li>

            </ul>
        </li>


        <li>
            <a href="#"><i class="fa fa-briefcase "></i>Experiences<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="{{ path('admin.experience.project.index') }}"><i class="fa fa-book"></i>Projects</a>
                </li>
                <li>
                    <a href="{{ path('admin.experience.job.index') }}"><i class="fa fa-industry "></i>Jobs</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ path('admin.study.index') }}"><i class="fa fa-mortar-board "></i>Education</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-gear "></i>Skills <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="{{path('admin.skill.technical.index')}}"><i class="fa fa-gears"></i>Technical</a>
                </li>
                <li>
                    <a href="{{path('admin.skill.soft.index')}}"><i class="fa fa-users "></i>Soft</a>
                </li>
                <li>
                    <a href="{{path('admin.skill.language.index')}}"><i class="fa fa-commenting "></i>Languages</a>
                </li>

            </ul>
        </li>

        <li>
            <a href="{{path('admin.hobby.index')}}"><i class="fa fa-coffee "></i>Hobbies</a>
        </li>
        <li>
                <a href="#"><i class="fa fa-wrench "></i>Settings <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{path('admin.setting.lang.index')}}"><i class="fa fa-flag"></i>Langs</a>
                    </li>
    
                </ul>
        </li>
    </ul>

</div>