{% extends 'back/layout/base.html.twig' %}
{% block title_section %}My experiences{% endblock %}
{% block title %}Jobs{% endblock %}

{% block title_content %}Jobs{% endblock %}

{% block body %}
<div>
        <a href="{{ path('admin.experience.job.add') }}"><button class='text-uppercase btn btn-success'>Add new</button></a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Is Visible ?</th>
                <th>Internship ?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.name }}</td>
                <td>{{ job.startDate|date('M Y') }}</td>
                <td>{{ job.current ? "Current" : job.endDate|date('M Y') }}</td>
                <td>{{ job.enabled ? "Yes" : "No" }}</td>
                <td>{{ job.internship ? "Yes" : "No" }}</td>

                <td>
                    <a href="{{ path('admin.experience.job.show', {'id': job.id}) }}"><button
                            class='btn btn-info'>Show</button></a>
                    <a href="{{ path('admin.experience.job.edit', {'id': job.id}) }}"><button class='btn btn-info'>Edit</button></a>
                    {{ include('back/experience/job/_delete_form.html.twig') }}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

