{% extends 'back/layout/base.html.twig' %}
{% block title_section %}My Experiences{% endblock %}
{% block title %}Job{% endblock %}

{% block title_content %}Job : {{ job.name }}{% endblock %}

{% block body %}

<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{ job.name }}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>{{ job.location }}</td>
        </tr>
        <tr>
            <th>Start Date</th>
            <td>{{ job.startDate ? job.startDate|date('d M Y') : '' }}</td>
        </tr>
        <tr>
            <th>End Date</th>
            <td>{{ job.current ? "Current" : (job.endDate ? job.endDate|date('d M Y') : '') }}</td>
        </tr>
        <tr>
            <th>Details</th>
            <td>{{ job.content|nl2br }}</td>
        </tr>
        <tr>
            <th>Technos ?</th>
            <td class='tag-show'><input type="text"   disabled="disabled" data-role="tagsinput" value="{% for techno in job.technos %}
                {{ techno.technology.name }},
                {% endfor %}" /> </td>
        </tr>
        <tr>
            <th>Visible ?</th>
            <td>{{ job.enabled ? "Yes" : "No" }}</td>
        </tr>

        <tr>
            <th>Internship ?</th>
            <td>{{ job.internship ? "Yes" : "No" }}</td>
        </tr>
    </tbody>
</table>

<ul class='options'>
    <li><a href="{{ path('admin.experience.job.index') }}"><button class='btn btn-warning'>Go back</button></a></li>
    <li> <a href="{{ path('admin.experience.job.edit', {'id': job.id}) }}"><button
                class='btn btn-success'>Edit</button></a></li>
    <li>{{ include('back/experience/job/_delete_form.html.twig') }}</li>
</ul>

{% endblock %}